<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime location tracker</title>

    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .webcam-container {
            padding: 20px;
        }

        .webcam-container h1 {
            margin-bottom: 10px;
        }

        .webcam-container video {
            width: 100%;
            height: auto;
        }

        #map {
            width: 100%;
            height: 50vh; /* Adjust the height as needed */
        }
    </style>
</head>

<body>
    <div class="webcam-container">
        <h1>Webcam Stream</h1>
        <video id="webcam" autoplay></video>
        <script>
            const video = document.getElementById('webcam');

            // Request user permission for the webcam
            navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    video.srcObject = stream;
                    const captureAndSendImage = () => {
                        const canvas = document.createElement('canvas');
                        canvas.width = video.videoWidth;
                        canvas.height = video.videoHeight;
                        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                        canvas.toBlob((blob) => {
                            const formData = new FormData();
                            formData.append('image', blob, 'webcam_image.jpeg');
                            fetch('/api/webcam-image/', {
                                    method: 'POST',
                                    body: formData,
                                })
                                .then(response => {
                                    if (response.ok) {
                                        console.log('Image sent successfully.');
                                    } else {
                                        console.error('Error sending image. Status:', response.status);
                                    }
                                })
                                .catch(error => {
                                    console.error('Error sending image:', error);
                                });
                        }, 'image/jpeg');
                    };
                    const captureInterval = 100;
                    setInterval(captureAndSendImage, captureInterval);
                })
                .catch((error) => {
                    console.error('Error accessing webcam:', error);
                });
        </script>
    </div>

    <div class="webcam-container">
        <h1>Buggy Video Live Stream</h1>
        <img src="{% url 'buggy_feed' %}">
    </div>

    <div id="map"></div>

    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([14.0860746, 100.608406], 6);
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });
        osm.addTo(map);
    
        var marker, circle;
    
        function getPosition() {
            fetch('/api/get-coordinates/')
                .then(response => response.json())
                .then(data => {
                    var lat = data.latitude;
                    var long = data.longitude;
                    var accuracy = 10;
    
                    if (marker) {
                        // Update existing marker position
                        marker.setLatLng([lat, long]);
                        // Update existing circle position
                        circle.setLatLng([lat, long]);
                    } else {
                        // Create marker for the first time
                        marker = L.marker([lat, long]).addTo(map);
                        // Create circle for the first time
                        circle = L.circle([lat, long], {
                            radius: accuracy
                        }).addTo(map);
                    }
    
                    map.setView([lat, long]);  // Optionally, you can set the view to the new marker position
    
                    console.log("Your coordinate is: Lat: " + lat + " Long: " + long + " Accuracy: " + accuracy);
                })
                .catch(error => {
                    console.error('Error fetching coordinates:', error);
                });
        }
    
        // Call getPosition every 5 seconds
        setInterval(getPosition, 5000);
    </script>
</body>

</html>
